
@media (max-width: 1245px) {
    .Header {
        padding: 0px;
    }
    .header-title {
        flex:2;
        text-align: center;

    }
}

/* --iphone X -- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .Header{
        flex-direction: column;
        width: 100%;    
    }
    
    .header-title {
        display: flex;
            
    } 

     .title {
        size: 0.1em!important;
        margin: auto;
    } 

    .logo {
       width: 80px;
    }

    .UserDropdown {
        align-items: center;
    } 
}